.rowcol{
	margin-top:5px !important;
}

.rowcal:span{
	height:95%;
}
.imgstable{
    margin-top:50px;
}

td.imgcell {
    border: 2px;
    border-style: double;
    border-color: white;
}
td.val1{
    background-color: chartreuse;
}

td.val0{
    background-color: crimson;
}

img.myimg{
    max-width: 100px;
    max-height: 100px;
    margin:5px;
}

.page{
    width: 170px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
